table {
    border: 2px solid black;
    border-collapse: collapse;
  }
  header.page-header {
    display: relative;
    height: 50px;
    min-width: 50px;
    text-align: center;
    color: rgb(23, 64, 151);
    font-size: 1.2em;
    letter-spacing: -1px;
   
}

#specShotBtn {
  display: none;
}

#specialShot,
#shipNumPick,
#startGame,
#chooseOP,
#selectDifficulty {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5em;
}

#startGame {
  width: 100%;
  margin-left: 0;
  flex-direction: column;
}

#selectDifficulty {
  display: none;
}

.instruction{
  text-align: left;
  color: rgb(23, 64, 151);
  font-size: 1.5em;
  letter-spacing: -1px;
}

.gameOverMessage{
  display: relative;
  height: 50px;
  min-width: 50px;
  text-align: center;
  color: rgb(23, 64, 151);
  font-size: 3.2em;
  letter-spacing: -1px;
}
.transition-message{
    display: relative;
    height: 50px;
    min-width: 50px;
    text-align: center;
    color: rgb(23, 64, 151);
    font-size: 3.5em;
    letter-spacing: -1px;
}
.homeBoard{
    float: left;
    margin-right: 50px;
    background-color: #add8e6;
}

.attackBoard{
    background-color: #ff9595;
}

th, td {
    width: 30px;
    height: 34px;
    border: 2px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.shipInventoryBox {
    margin: 5px;
    border: 2px solid black;
}

.oneTileShip{
    height: 32px;
    width: 33px;
    border: 2px solid black;
    background-color: rgb(192, 189, 26);
    display: flex;
}

.twoTileShip{
    height: 32px;
    width: 67px;
    border: 2px solid black;
    background-color: green;
    display: flex;
}

.threeTileShip{
    height: 32px;
    width: 101px;
    border: 2px solid black;
    background-color: rgb(218, 102, 26);
    display: flex;
}

.fourTileShip{
    height: 32px;
    width: 135px;
    border: 2px solid black;
    background-color: rgb(116, 26, 93);
    display: flex;
}

.fiveTileShip{
    height: 32px;
    width: 169px;
    border: 2px solid black;
    background-color: rgb(220, 231, 233);
    display: flex;
}

.hitMark {
  height: 34px;
  width: 34px;
  margin: 0;
  padding: 0;
  display: flex;
}

.hitMarkLabel {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: red;
}

.shipInventoryBoxHeading {
  border-bottom: 2px solid black;
}

.shipBox {
  padding: 5px;
}

.shipInventoryBoxLabel {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  margin: 5px;
}

#newGame{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* add*/
/* the css was used from this open source site https://getcssscan.com/css-buttons-examples it has many buttons that people can take the styling for*/
/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.button-65:focus {
  border: .25em solid black;
}


/* css for bottom buttons*/
.bottom-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    /*height: 50px;*/
    margin-top: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .bottom-button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .bottom-button:hover:after {
    opacity: .5;
  }
  
  .bottom-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .bottom-button:active:after {
    opacity: 1;
  }
  @media (min-width: 768px) {
    .bottom-button {
      padding: 14px 22px;
      width: 176px;
    }
  }

